<div class="shop__block block__12">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="/products?category=${produkt}" >Shop By Brand </h1></h1>
        </div>
    </div>

    <div class="shop__block block__6">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="/products?category=${produkt}">Amplifiers</a></h1>
        </div>
    </div>

    <div class="shop__block block__2">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Speakers</a></h1>
        </div>
    </div>

    <div class="shop__block block__5">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Turntables</a></h1>
        </div>
    </div>

    <div class="shop__block block__8">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">CD Players</a></h1>
        </div>
    </div>

    <div class="shop__block block__7">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Streamers</a></h1>
        </div>
    </div>

    <div class="shop__block block__9">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Cables</a></h1>
        </div>
    </div>

    <div class="shop__block block__13">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Furniture</a></h1>
        </div>
    </div>

    <div class="shop__block block__14">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Headphones</a></h1>
        </div>
    </div>

    <div class="shop__block block__11">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Home Cinema</a></h1>
        </div>
    </div>

    <div class="shop__block block__15">
        <div class="shop__block-inner"> 
            <h1 class="block-inner__title"><a class="title__anker" href="">Outlet - Save up to 50% Off</a></h1>
        </div>
    </div>

    <div class="shop__block  block__ebay">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="" target="_blank">eBay Shop</a></h1>
        </div>
    </div>

    <div class="shop__block block__19">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Ceiling Speakers</a></h1>
        </div>
    </div>

    <div class="shop__block block__shopTV">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">TVs</a></h1>
        </div>
    </div>

    <div class="shop__block block__vinyl">
        <div class="shop__block-inner">
            <h1 class="block-inner__title"><a class="title__anker" href="">Vinyl LPs</a></h1>
        </div>
    </div>

    <div class="shop__block shop__now"><div class="shop__block-inner"><button href="" class="block-inner__button">Shop Now</button></div></div>
        
        
        