@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: black; }

@keyframes spinnerF {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.spin {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner {
  position: absolute;
  width: 10em;
  height: 10em;
  border: 0px solid gray purple;
  border-color: gray gray gray purple;
  opacity: 1;
  box-shadow: inset 0 5px 5px #ff6600, inset -10px -5px 30px #cc5302, -10px -5px 30px #cc5302, 0 10px 30px #961d05;
  border-radius: 55%;
  animation: spinnerF 1s ease infinite; }

.bodyScroll {
  height: 100%;
  overflow: hidden;
  cursor: none; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #413a27; }

.header__navbar {
  width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.header__logo {
  height: 50px;
  width: 50px;
  margin-left: 10px; }

.navbar__contact {
  height: 20px;
  float: right;
  margin-right: 25px; }

.navbar__account {
  color: #999999;
  letter-spacing: 10px; }

.navbar__cart {
  color: #999999;
  margin-right: 50px;
  letter-spacing: 10px; }

.account__link {
  color: #e1e1e1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 0px; }

.cart__link {
  color: #e1e1e1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px; }

.navbar__search {
  margin-left: 20%;
  width: 350px;
  font-family: 'Roboto', sans-serif; }

.search__input {
  padding-left: 10px;
  width: 300px;
  height: 25px;
  background-color: white;
  color: black;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  outline: none; }

::placeholder {
  color: #cccccc; }

.search__icon {
  color: #999999;
  margin-left: -30px;
  cursor: pointer; }

.navigation {
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  font-size: 0.8em; }

.navigation__unorderedlist {
  display: flex;
  text-decoration: none; }

.unorderedlist__link {
  margin-right: 2em;
  text-decoration: none; }

.link__anker {
  text-decoration: none;
  color: white; }

.main {
  background-color: white;
  height: 3800px;
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 50px 500px 900px; }

.main__url {
  margin-left: 20px; }

.main__categories3 {
  width: 200px;
  height: 500px;
  grid-row: 2;
  grid-column: 3;
  margin-left: 20px; }

.categories3__unorderedlist3 {
  color: #a39161;
  font-weight: bolder;
  margin-left: -50px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer; }

.unorderedlist3__list {
  font-size: 13px;
  list-style-type: none;
  margin-left: 15px;
  margin-top: 10px;
  color: black;
  font-weight: bold; }

.categories3__links {
  margin-top: -7px;
  margin-left: -10px;
  color: #a39161;
  cursor: pointer; }

.unorderedlist3__anker {
  list-style-type: none;
  color: black;
  text-decoration: none; }

.main__shop {
  display: grid;
  margin-top: 120px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 400px);
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 4; }

.shop__products {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 400px; }

.products__figure {
  display: flex;
  min-height: 180px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(112, 108, 97, 0.5);
  height: 180px;
  width: 160px;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 0; }

.figure__img {
  height: auto;
  width: 155px;
  max-height: 100px; }

.products__title {
  width: 180px;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px; }

.products__subtitle {
  color: #ac9161;
  margin: 15px 0 15px 0;
  font-weight: lighter;
  font-size: 15px; }

.products__oldsubtitle {
  color: #a0a0a0;
  margin: 0;
  margin-right: 10px;
  font-weight: lighter;
  text-decoration: line-through;
  font-size: 15px; }

.products__button {
  background-color: #a39161;
  border: none;
  color: white;
  width: 110px;
  height: 35px;
  font-weight: bold;
  outline: none;
  cursor: pointer; }

.main__shopby {
  background-color: #e1e1e1;
  width: 250px;
  height: 900px;
  grid-row: 3;
  grid-column: 1;
  margin-top: 20px;
  margin-left: 20px; }

.shopby__title {
  color: #a39161;
  text-transform: uppercase;
  margin-left: 40px;
  margin-top: 50px; }

.shopby__subtitle {
  margin-left: 40px; }

.shopby__subtitle2 {
  margin-left: 40px; }

.shopby__unorderedlist {
  color: #706c61;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer; }

.unorderedlist__list2 {
  list-style-type: none;
  margin-top: 0px;
  color: #a39161;
  font-weight: normal;
  line-height: normal;
  cursor: pointer; }

.main__links2 {
  margin-top: -7px;
  margin-left: 38px;
  color: #a39161;
  line-height: 10px;
  cursor: pointer; }

.main__categories {
  background-color: #e1e1e1;
  width: 250px;
  height: 500px;
  grid-row: 2;
  grid-column: 1;
  margin-left: 20px; }

.categories__unorderedlist {
  color: #706c61;
  font-weight: bold;
  cursor: pointer; }

.unorderedlist__list {
  list-style-type: none;
  margin-left: 15px;
  margin-top: 10px;
  color: #a39161;
  font-weight: normal;
  cursor: pointer; }

.main__links {
  margin-top: -7px;
  margin-left: 38px;
  color: #a39161;
  font-weight: bold;
  cursor: pointer; }

.main__form {
  grid-column: 2;
  grid-row: 2; }

.form__title {
  margin-top: 0px;
  margin-left: 17px; }

.form__container {
  width: 96%;
  margin: 0 auto;
  background-color: #e1e1e1;
  height: 70px;
  position: relative; }

.container__subtitle {
  margin-left: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  width: 300px; }

.container__select {
  margin-top: 10px;
  width: 70px; }

.select__answer {
  cursor: pointer; }

.container__subtitle2 {
  position: absolute;
  margin-left: 140px;
  top: -9px;
  font-weight: bolder;
  color: #666666;
  cursor: pointer; }

.container__text {
  font-size: 13px;
  margin-left: 190px;
  text-transform: uppercase;
  position: relative;
  margin-top: -9px; }

.container__burger {
  color: #cccccc;
  display: inline-block;
  position: absolute;
  bottom: 17.5px;
  left: 300px;
  font-size: 23px;
  cursor: pointer; }

.container__square {
  color: #a39161;
  width: 20px;
  letter-spacing: -2px;
  line-height: 10px;
  position: absolute;
  bottom: 23.5px;
  left: 260px;
  cursor: pointer; }

.form__containerNew {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -70px;
  margin-right: 10px;
  float: right; }

.containerNew__items {
  color: black; }

.items__totalItems {
  color: black; }

.containerNew__subtitleNew {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px; }

.containerNew__selectNew {
  width: 50px; }

.select__answerNew {
  cursor: pointer; }

.homeFooter {
  margin-top: -20px;
  width: 100%;
  height: 90px;
  color: white;
  background-color: #a39161;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: relative; }

.homeFooter__container {
  display: flex;
  align-items: center; }

.container__registeredTitle {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  color: black;
  font-weight: bold;
  margin-left: 30px;
  width: 190px; }

.registeredTitle__Number {
  color: black; }

.registeredTitle__Subtitle {
  color: black; }

.container__links {
  font-size: 11px;
  color: white;
  margin-top: 0;
  margin-left: 50px;
  font-weight: lighter; }

.links__refundAnker {
  color: white;
  margin-right: 5px; }

.links__privacyAnker {
  color: white;
  margin-left: 5px; }

.homeFooter__socialsContainer {
  display: flex;
  align-items: center; }

.socialsContainer__payBrands {
  height: 60px; }

.socialsContainer__socials {
  width: 100px; }
