@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: black; }

@keyframes spinnerF {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.spin {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner {
  position: absolute;
  width: 10em;
  height: 10em;
  border: 0px solid gray purple;
  border-color: gray gray gray purple;
  opacity: 1;
  box-shadow: inset 0 5px 5px #ff6600, inset -10px -5px 30px #cc5302, -10px -5px 30px #cc5302, 0 10px 30px #961d05;
  border-radius: 55%;
  animation: spinnerF 1s ease infinite; }

.bodyScroll {
  height: 100%;
  overflow: hidden;
  cursor: none; }

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #413a27; }

.header__box {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }

.box__contact {
  cursor: pointer;
  height: 20px;
  margin-right: 15px;
  margin-top: 10px; }

.box__button {
  cursor: pointer;
  margin-right: 15px;
  background-color: #1798f1;
  outline: none;
  border: solid black 1px;
  border-radius: 3px;
  color: white;
  margin-top: 9px; }

.navigation {
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  font-size: 0.8em; }

.navigation__unorderedlist {
  display: flex;
  text-decoration: none; }

.unorderedlist__link {
  margin-right: 2em;
  text-decoration: none; }

.link__anker {
  text-decoration: none;
  color: white; }

.shop {
  width: 1000px;
  background-color: #a39161;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px 250px 250px;
  margin-bottom: 20px; }

.shop__block {
  height: 100%;
  width: 100%;
  text-transform: uppercase; }

.block__12 {
  background: url("../images/shop-13.jpg");
  background-size: cover;
  grid-column: 1;
  grid-row: 1; }

.block__6 {
  background: url("../images/shop-6.jpg");
  background-size: cover;
  grid-column: 2;
  grid-row: 1; }

.block__2 {
  background: url("../images/shop-2.jpg");
  background-size: cover;
  grid-column: 3;
  grid-row: 1; }

.block__5 {
  background: url("../images/shop-5.jpg");
  background-size: cover;
  grid-column: 4;
  grid-row: 1; }

.block__8 {
  background: url("../images/shop-8.jpg");
  background-size: cover;
  grid-column: 1;
  grid-row: 2; }

.block__7 {
  background: url("../images/shop-7.jpg");
  background-size: cover;
  grid-column: 2;
  grid-row: 2; }

.block__9 {
  background: url("../images/shop-9.jpg");
  background-size: cover;
  grid-column: 3;
  grid-row: 2; }

.block__13 {
  background: url("../images/shop-13.jpg");
  background-size: cover;
  grid-column: 4;
  grid-row: 2; }

.block__14 {
  background: url("../images/shop-14.jpg");
  background-size: cover;
  grid-column: 1;
  grid-row: 3; }

.block__15 {
  background: url("../images/shop-15.jpg");
  background-size: cover;
  grid-column: 3;
  grid-row: 3; }

.block__11 {
  background: url("../images/shop-11.jpg");
  background-size: cover;
  grid-column: 2;
  grid-row: 3; }

.block__ebay {
  grid-column: 4;
  grid-row: 3;
  background: url("../images/shop-ebay.png");
  background-size: cover; }

.block__19 {
  background: url("../images/shop-speaker.png");
  background-size: cover;
  grid-column: 1;
  grid-row: 4; }

.block__shopTV {
  background: url("../images/shop-tv.png");
  background-size: cover;
  grid-column: 2;
  grid-row: 4; }

.block__vinyl {
  background: url("../images/shop-rgb.png");
  background-size: cover;
  grid-column: 3;
  grid-row: 4; }

.shop__now {
  width: 100%;
  height: 100%;
  grid-column: 4;
  grid-row: 4; }

.block-inner__button {
  width: 150px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  outline: none;
  margin-left: 50px;
  background-color: #685225;
  margin-top: -9px; }

.block-inner__title {
  color: white;
  text-align: center;
  font-weight: lighter; }

.title__anker {
  color: white; }

.shop__block-inner {
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 105px; }

.homeFooter {
  margin-top: -20px;
  width: 100%;
  height: 90px;
  color: white;
  background-color: #a39161;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: relative; }

.homeFooter__container {
  display: flex;
  align-items: center; }

.container__registeredTitle {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  color: black;
  font-weight: bold;
  margin-left: 30px;
  width: 190px; }

.registeredTitle__Number {
  color: black; }

.registeredTitle__Subtitle {
  color: black; }

.container__links {
  font-size: 11px;
  color: white;
  margin-top: 0;
  margin-left: 50px;
  font-weight: lighter; }

.links__refundAnker {
  color: white;
  margin-right: 5px; }

.links__privacyAnker {
  color: white;
  margin-left: 5px; }

.homeFooter__socialsContainer {
  display: flex;
  align-items: center; }

.socialsContainer__payBrands {
  height: 60px; }

.socialsContainer__socials {
  width: 100px; }
